networks:
  agent:
    driver: bridge

services:

  # ollama pull deepseek-r1:1.5b：从 Ollama 仓库下载到本机/容器
  # ollama pull nomic-embed-text：下载向量嵌入模型，用来把文本转成向量给 pgvector 做相似度检索
  ollama:
    image: ollama/ollama:0.5.10
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ${HOME}/docker/ollama:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - agent

  redis:
    image: redis:8.0.1
    container_name: redis
    restart: always
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--requirepass", "jason2004"
    ]
    ports:
      - "6379:6379"
    volumes:
      - ${HOME}/docker/redis/data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "jason2004", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - agent

  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector
    restart: always
    environment:
      - POSTGRES_USER=dasi
      - POSTGRES_PASSWORD=jason2004
      - POSTGRES_DB=springai
      - PGPASSWORD=jason2004
    volumes:
      - ${HOME}/docker/pgvector/data:/var/lib/postgresql/data
      - ${PWD}/docs/pgvector/init.sql:/docker-entrypoint-initdb.d/init.sql
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dasi -d springai"]
      interval: 2s
      timeout: 20s
      retries: 10
    networks:
      - agent